* {
  box-sizing: border-box; }

@font-face {
    font-family: "everett";
    src: url(../away/fonts/Everett-Regular.otf);
  }

@font-face {
    font-family: "visualt pro";
    src: url(../away/fonts/VisueltPro-Regular.ttf);
  }

  html {
    font-size: 20px;
    color: whitesmoke;
    scroll-behavior: smooth;
    font-family: "everett";
    background-color: rgb(87,0,250);
  }
  
  .container {
    margin: 1rem;
    display: flex;
  }

  .logo {
    display: flex;
    float: left;
    
    min-width: 40%;
    top: 2.8rem;
    position: fixed;
    z-index: 1;

  }
  
  .nav {
    padding: 1.5rem;
    position:fixed;
    scale: 1.2;
    left: 40vw;
    z-index: 1;
  }

  a {
    text-decoration: none;
    color: whitesmoke;
  }

  a:hover {
    color:black;
  }

  a:active {
    text-decoration: underline;
  }

 ul {
   list-style-type: none;
   margin: 0;
  }

 .about {
   text-decoration: underline;
  }

 .main {
   float: left;
  }

 .about-title {  
   display: flex;
   float: right;
   width: 45vw;
   margin-top: 5.5rem;
   background: black;
   color: white;
  }

 .about-article {
   display: flex;
   float: right;
   width: 45vw;

   line-height: 1.5rem;
  }

 .about-writer {
   font-size: 1rem;
   width: 45vw;
   margin-top: 0.5rem;

   z-index: 1;
   position: sticky;
 
   float: right;
  }


 span {
   text-decoration: line-through;
   font-weight: lighter;
  }

 .about-quota {
   font-size: 2rem;
   width: 40%;
   display: inline;
   padding: 6rem 3rem;
   position: sticky;
   margin-top: 7rem;

   float: left;
  }

@media (max-width: 800px) {

  html {
    background-color:  rgb(87,0,250);
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 0;
    flex-direction: row ;
    
  }
  
  .logo {
    margin: 1rem;
    width: 70vw;
  }
  
  .nav {
    position: fixed;
    margin-left: 6.5rem;
    margin-top: 2.8rem;
    text-align: left;
    transform: scale(0.6);
    background-color: rgb(87,0,250,0);
    padding: 0;
    z-index: 0;
  }
  
  main {
    margin-top: 8rem;
  }
  
  .about-quota {
    margin: 0.5rem 1rem;
    font-size: 1.5rem;
    text-align: left;
    z-index: -1;
    background-color:black;
    color: white;
    padding: 1rem;
    width: 90vw;
    height: 30vh;
    border: 0.1rem white solid;
  }
  

.about-article {
  width: 100vw;
  z-index: 1;
  display: inline;
  padding: 1rem;
  padding-right: 2rem;
}

.about-writer {
  padding-left: 1rem;
  font-size: 1rem;
  width: 100vw;
  float: left;
  font-size: 1rem;
}

.about-title {
 display: none;
}


.about-quota:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  line-height: 1.33;
  padding: 5px;
  color:rgb(87,0,250);
}

a:hover {
  color:black;
  }

.logo:scope {
  opacity: 10;
}

}