* {
  box-sizing: border-box; }

@font-face {
    font-family: "everett";
    src: url(../away/fonts/Everett-Regular.otf);
  }

@font-face {
    font-family: "visualt pro";
    src: url(../away/fonts/VisueltPro-Regular.ttf);
  }
  html {
    font-size: 20px;
    color: whitesmoke;
    scroll-behavior: smooth;
    font-family: "everett";
    background-color: rgb(87,0,250);
  }
  
  .container {
    margin: 1rem;
  
  }
  
  main {
   display: flex;
   float: left;
   flex-wrap: nowrap;
   flex-direction: column;
  }

  .logo {
    min-width: 40vw;
    
    
    position: fixed;
    top: 3rem;
    z-index: 1;
    
   
    
  }
  
  .nav {
    padding: 2rem;
    position:fixed;
    
    left: 40vw;
    z-index: 1;
  
  }

a {
  text-decoration: none;
  color: whitesmoke;

}

a:hover {
  color:black;
}

a:active {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  align-content: center;
  margin: 0;

}
main {
  margin-top: 3rem;
}
.history {
  text-decoration: underline;
}

.background {
  display: none;
}

.history-title {
  background: black;
  color: white;
  max-width: 45vw;

  display: inline;
  line-height: 2.3rem;
  margin-top: -1rem;
  float: right;
  justify-content: flex-start;
}

.history-writer {

  font-weight: lighter;
  display: inline;
  float: right;

}

.history-article {

  display: inline;
  float: right;
  max-width: 45vw;

  line-height: 1.5rem;
  margin-top: 2rem;
}

.history-subtitle {
 
  font-size: 1rem;
  width: 40vw;

  z-index: 1;
  position: sticky;
  top: 9.5rem;

  float: inline-start;
}

.history-image {
  width: 40vw;
  display: inline;
  margin-top: 10rem;
  position: sticky;
  top: 11rem;
  border: 0.3rem white solid;

  float: left;
}

@media (max-width: 800px) {

html {
  background-color:  rgb(87,0,250);
}

body {
  margin: 0;
}

.container {
  margin: 0;
  flex-direction: row ;
  
}

.logo {
  margin: 1rem;
  width: 70vw;
}

.nav {
  position: fixed;
  margin-left: 6.5rem;
  margin-top: 2.8rem;
  text-align: left;
  transform: scale(0.6);
  background-color: rgb(87,0,250,0);
  padding: 0;
  z-index: 0;
}

main {
  margin-top: 8rem;
}

.history-image {
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
  text-align: left;
  z-index: -1;
  background-color:white;
  color: black;
  width: 90vw;
}

.story-quota:hover {
  background-color: rgb(87,0,250) ;
}

a:hover {
  color:black;
}

.history-article {
  display: none;
}

.history-title {
  display: none;
}

.history-writer {
  display: none;
}

.history-subtitle {
  display: none;
}
}